@model Trn.Feature.Students.Models.General

<h1>General Activities: </h1>
<br />
<br />
Activity Title : @Model.activityTitle
<br />
<br />
Activity Description : @Model.activityDescription
<br />
<br />

