[Oo]bj/
/Deploy/
src/**/[Bb]in/
!src/Foundation/Assets/code/App_Data/Dianoga Tools
specs/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
Publish/
Lib/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
lib/
lib/Sitecore/*
lib/System/*
.sonar
vars.user.cmd
/.vs
/target
/publishroot/*
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
/publishsettings.targets
/trn-react-app
/src/Project/TrnSite/serialization/Renderings/Trn/ErrorPage.yml
/src/Project/TrnSite/serialization/Renderings/Trn/View rendering.yml
