@model Trn.Feature.Controls.Models.CustomField
@using (Html.BeginForm())
{
    @*<div class="mb-3">
        <label for="@Model.customDropdown" class="form-label">Custom Dropdown</label>
        @Html.DropDownListFor(x => x.customDropdown, new SelectList("Id", "Name"))
</div>*@
}
