@model Trn.Feature.Departments.Models.SymposiumListingInfo
    <style>
      .bd-placeholder-img {
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    </style>
 <div>
        @foreach (var item in Model.SymposiumCards)
        {
<br />
     <div class="container">
         <div class="card" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:crimson; font-style:italic">
             <h3>@item.PageTitle</h3>
             
                 <a href="@item.url">
                     <div class="col">
                         <a href="~/Views/TrnSymposiumListing/Index.cshtml">~/Views/TrnSymposiumListing/Index.cshtml</a>

                         <svg class="bd-placeholder-img card-img-top" width="100%" height="70">@item.ImageGallery</svg>

                     </div>
                 </a>
             
         </div>

     </div>

                 }
     

</div>



