<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
	<sitecore>
		<settings env:require="local">
			<setting name="baseApiURL" value="https://sc93sc.dev.local/ftg.api.com" />
			<setting name="paymentApiURL" value="https://sc93sc.dev.local/ftgpayment.api.com" />
		</settings>
		<settings env:require="dev">
			<setting name="baseApiURL" value="https://dev-partnerportal.frontier.com/ftg.api.com" />
			<setting name="paymentApiURL" value="https://dev-partnerportal.frontier.com/ftgpayment.api.com" />
		</settings>
		<settings env:require="staging">
			<setting name="baseApiURL" value="https://stg-partnerportal.frontier.com/ftg.api.com" />
			<setting name="paymentApiURL" value="https://stg-partnerportal.frontier.com/ftgpayment.api.com" />
		</settings>
	</sitecore>
</configuration>