<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<group groupName="layoutService">
				<pipelines>
					<getFieldSerializer>
						<processor patch:before="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetDefaultFieldSerializer, Sitecore.LayoutService']" type="Trn.Foundation.Customization.Extensions.GetCustomFieldSerializer, Trn.Foundation.Customization" resolve="true">
							<FieldTypes hint="list">
								<fieldType id="1">Custom Droplink</fieldType>
							</FieldTypes>
						</processor>
					</getFieldSerializer>
				</pipelines>
			</group>
		</pipelines>
	</sitecore>
</configuration>