<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor type="Trn.Foundation.Customization.Pipelines.PageNotFoundResolver, Trn.Foundation.Customization"
						   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">

				</processor>
			</httpRequestBegin>
			<httpRequestProcessed>
				<processor type="Trn.Foundation.Customization.Pipelines.Set404Status, Trn.Foundation.Customization" />
			</httpRequestProcessed>
		</pipelines>
	</sitecore>
</configuration>

