
@model Trn.Feature.Events.Models.EventsInfo

<h1>Events Information: </h1>
<br />
<br />
Event Date : @Model.EventDate
<br />
<br />
Event Duration  : @Model.EventDuration
<br />
<br />
Event POC : @Model.EventPOC
<br />
<br />
Event Agenda : @Model.EventAgenda
