@model Trn.Feature.Departments.Models.SymposiumInfo

<h1>Symposium Information: </h1>
<br />
<br />
SPOC PhoneNumber : @Model.SPOCPhoneNumber
<br />
<br />
Paper Submission Last Date  : @Model.PaperSubmissionLastDate
<br />
<br />
Symposium Description : @Model.SymposiumDescription
<br />
<br />

