
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		
		<unicorn>
			<configurations>
				
				<configuration name="Trn.Feature" description="This configuration is used to serialize everything under Feature Folders">
					<targetDataStore physicalRootPath="$(unicornSourceFolder)\$(module)\$(moduleConfigName)\serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>

						<include name="ListTypes" database="core" path="/sitecore/system/Field Types/List Types/TrnCustomDropdown" />
						<!--<include database="master" path="/sitecore/system/Tasks">
							<exclude path="Schedules" />
						</include>
						<include database="master" path="/sitecore/system/Workflows" />
						<include database="master" path="/sitecore/system/Settings" />-->
					</predicate>

					
					<dataProviderConfiguration enableTransparentSync="false" />

					
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
