@*@model Trn.Feature.Home.Models.QandA

<div>
    @Model.Question
</div>
@using (Html.BeginForm())
{
    <div class="mb-3">
        <label for="@Model.Answers" class="form-label">Your Answers</label>
        @Html.TextBoxFor(x => x.Answers, new { @class = "form-control" })
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

}*@

<h1>Thanks</h1>