@model Trn.Project.TrnSite.Models.ErrorPageInfo
<div>
    <br />
    <h1>@Model.Title</h1>
    <br />
    <h2>@Model.Description</h2>
    <br />
    <br />
    @Model.Image
    <br />
    <br />
</div>