@model IEnumerable<Trn.Project.TrnSite.Models.NavigationItem>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var navItem in Model)
        {
            <li class="breadcrumb-item"><a href="@navItem.navUrl"> @navItem.navTitle</a></li>
        }
    </ol>
</nav>