@model Trn.Project.TrnSite.Models.Staff

<div>
    Staff Name: @Model.staffName
</div>

<div>
    Staff Designation: @Model.staffDesignation
</div>

<div>
    Staff Experience: @Model.staffExperience
</div>

<div>
    @Model.staffAvtar
</div>

