@model Trn.Feature.Departments.Models.PageInfo
<h1>Page Detail Base Information: </h1>
<br />
<br />
Page Title : <h2>@Model.PageTitle </h2>
<br />
<br />
Page Brief : <h2>@Model.PageBrief</h2> 
<br />
<br />

