<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/SitecoreUnicorn/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<!--
					The default configuration is an example to start making other configurations from.

					WHAT SHOULD I INCLUDE?
					In general, include the fewest items possible. This both makes things faster and reduces the amount of things kept in source control.
					The most common candidates for serialization are layout items and template items, but Unicorn can serialize any type of item or field including media.
					
					BEHAVIORS
					Configurations can override the default dependency types defined in Unicorn.config's <defaults> to apply
					custom behaviors to specific configurations. 
					
					If no 'type' attribute is specified, the default dependency type is inherited (e.g. Unicorn.Predicates.SerializationPresetPredicate for a predicate).
					Attributes set on a type-less dependency are added or replace those on the base type (e.g. setting transparent sync to on/off without specifying a type).
					Child elements of a type-less dependency are appended to any defined on the base (e.g. you can add includes to a predicate using this).
					Specifying a type attribute completely overwrites any definitions made in a parent configuration.
					
					DEPENDENCIES
					Configurations may also depend on each other. Add a comma-delimited list of configuration names to depend on to the 'dependencies' attribute on the configuration.
					Dependent configurations do not force dependencies to sync if not selected, but syncs will always occur in dependency order if multiple dependent configurations sync at once.
					Transitive dependency and multiple dependency (comma delimited) are supported.
					
					TIPS
					Favor using several configurations over a single monolithic one.
					Favor using more includes and fewer excludes in your predicates.
					Start with minimal configurations and add includes as you need to serialize new things.
					If you're using a convention-based system like Helix, you can create a base configuration that encodes your conventions using variables,
						for example <include path="/sitecore/templates/$(layer)/$(module)" /> on the predicate. The base configuration will have 'abstract="true"' on the root element, and
						inheritors will have 'extends="AbstractConfigName"' on their root element.
				-->
				<configuration name="Trn.Project.TrnSite.Global" description="This configuration is used to serialize everything under Project Folders">
					<targetDataStore physicalRootPath="$(unicornSourceFolder)\$(module)\$(moduleConfigName)\serialization\Global" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<!--
							PREDICATE
							
							The predicate controls what items are included in the configuration.
							
							Each include can also exclude specific subitems in various ways. For a reference of the most current predicate grammar, consult the tests here:
							https://github.com/SitecoreUnicorn/Unicorn/blob/master/src/Unicorn.Tests/Predicates/TestConfiguration.xml

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items for additions.
							NOTE: the "name" attribute controls the folder name the items will go into. If unspecified, the last path segment is used. Names must be unique across the configuration.
							NOTE: You cannot use excludes with Transparent Sync. See https://github.com/SitecoreUnicorn/Unicorn/wiki/The-Transparent-Sync-Guide
							NOTE: If your configuration is named in Helix format (Layer.Module), you can use $(layer) and $(module) here as variables.
						-->
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/Verticurl" />
						<include name="Templates" database="master" path="/sitecore/templates/Project/Verticurl" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/Verticurl" />
						<include name="Placeholder Settings" database="master" path="/sitecore/layout/Placeholder Settings/Project/Verticurl" />
						<include name="Media" database="master" path="/sitecore/media library/Project/Verticurl" />
						<include name="Content-Verticurl" database="master" path="/sitecore/content/Verticurl">
							<exclude children="true">
								<except name="Global"/>
								<except name="Master"/>
							</exclude>
						</include>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
