
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		
		<unicorn>
			<configurations>
				
				<configuration name="Trn.Feature.Global" description="This configuration is used to serialize everything under Feature Folders">
					<targetDataStore physicalRootPath="$(unicornSourceFolder)\$(module)\$(moduleConfigName)\serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Feature/Verticurl" />
						<include name="Templates" database="master" path="/sitecore/templates/Feature/Verticurl" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Verticurl" />
						<include name="Placeholder Settings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Verticurl" />
						<include name="Media" database="master" path="/sitecore/media library/Feature/Verticurl" />

						<!--<include database="master" path="/sitecore/system/Tasks">
							<exclude path="Schedules" />
						</include>
						<include database="master" path="/sitecore/system/Workflows" />
						<include database="master" path="/sitecore/system/Settings" />-->
					</predicate>

					
					<dataProviderConfiguration enableTransparentSync="false" />

					
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
