<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<myindex>
			<indexConfiguration>
				<indexes hint="list:AddIndex">
					<index id="sitecore_articlesimage_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">sc93_sxa_articleimage_index</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<include hint="list:AddIncludedField">
									<articleimage>{F447238B-591F-491F-9ACA-3F21A369D3ED}</articleimage>	
								</include>
                                <include hint="list:AddIncludedTemplate">
									<ArticleDefinitionItem>{12C87B25-3E60-49F6-A1A6-86E4AC4591C1}</ArticleDefinitionItem>
								</include>
								<defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
									<fields hint="raw:AddComputedIndexField">
										<field fieldName="imageIndexFieldName" returnType="text"> Sitecore.ContentSearch.ComputedFields.ImageCustomIndex,Sitecore.ContentSearch</field>
									</fields>
									<fieldNames hint="raw:AddFieldByFieldName">
										<field fieldName ="imageIndexFieldName" returnType="text" storageType="YES" indexType="TOKENIZED" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"></field>
									</fieldNames>
								</defaultSolrIndexConfiguration>
							</documentOptions>
						</configuration>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>master</Database>
								<Root>/sitecore</Root>
							</crawler>
						</locations>
					</index>
				</indexes>
			</indexConfiguration>
		</myindex>
	</sitecore>
</configuration>